html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}
.navbar img {
  height: 50px;
}
.gradient-custom {
  background: linear-gradient(45deg, #f3ec78, #af4261);
}
.card-header, .card-body {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-outline-dark {
  margin: 5px;
}
