/**
 * This Razor view file is responsible for rendering the Privacy Policy page.
 * It sets the title of the page to "Privacy Policy" and displays it in a heading element.
 * The page also includes a paragraph that can be used to provide details about the site's privacy policy.
 */
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
