@model WebApp.Models.User
@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Personal Area";
    var user = await UserManager.GetUserAsync(User);
    bool isAdmin = user?.IsAdmin ?? false;
    var userId = user?.Id;
    var data = user?.BirthDate.ToShortDateString();
}

<br />
<br />
<br />
<br />
<div class="col-md-6">
    <div class="row">
        <h1>Welcome @Model.Name</h1>
        <form asp-action="PersonalArea" asp-route-id="@Model.Id" id="profile-form" method="post">
            <div class="col-12 mt-4">
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" class="form-control" required/>
            </div>

            <div class="col-12 mt-4">
                <span asp-validation-for="Surname" class="text-danger"></span>
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control" required/>
            </div>

            <div class="col-12 mt-4">
                <label asp-for="BirthDate" class="form-label"></label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <span class="form-control">@data</span>
            </div>

            <div class="col-12 mt-4">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" required />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span> 
            </div>
            <div class="col-12 mt-4">
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                @if (isAdmin)
                {
                    <input asp-for="Email" class="form-control" readonly />
                }
                else
                {
                    <input asp-for="Email" class="form-control" required />
                }
            </div>
            <div class="col-12 mt-3">
                <input id="edit-profile-button" type="submit" class="mt-2 btn btn-outline-dark w-100" name="loginSubmit" value="Change Password">
                <a asp-area="Identity" asp-page="/Account/Logout" class="mt-2 btn btn-outline-dark w-100">Logout</a>
            </div>
            <div class="col-12 mt-3">
                <input id="edit-profile-button" type="submit" class="mt-2 btn btn-outline-dark w-100" name="loginSubmit" value="Update Data">
                <a asp-controller="User" asp-action="PersonalArea" class="mt-2 btn btn-outline-dark w-100">Back to Personal Area</a>
            </div>
            
        </form>
    </div>
</div>